/* SWATCHES | Red - #b70101 | Darkest Blue - #001439 | Cyan - #2985dd | Light Blue - #026cd3 | Slate Blue - #14528a | Blue - #00254f | */

/* SWATCHES | H1, H3 - #b70101 | bkgnd, testimonial body - #001237 | Footer  - #2985dd | keywords body, H2, nav Blue - #026cd3 | keywords headline, testimonial head #14528a | P body - #00254f |  */

* {
padding:0;
margin:0;
} 

body {
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	font-size:11px;
	line-height: 18px;
	color: #394a58;
	background:#FFFFFF url(../_images/bkgnd.png) top center repeat-x;
}	

body.homepage {
	background-image:url(../_images/bkgnd-home.png);
}	


p {
	font-size:11px;
	line-height: 18px;
	color: #394a58;
	margin: 5px 0px 10px 0px;
	text-align:justify;
	font-family: wingdings;
}

a {
	color:#00254f;
	text-decoration:underline;
}

a:hover {
	color:#026cd3;
	text-decoration:none;
}

a.btn {
	height: 25px;
	margin: 5px 0px;
	padding: 0px 10px;
	float: left;
	display: block;
	border: none;
	font-family: 'Dosis', Arial, sans-serif;
	font-size: 15px;
	color: #1559a6;
	text-align: center;
	line-height: 25px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 400; 
	background: url(../_images/button.png) 0px 0px repeat-x;
	text-shadow: 1px 1px 1px #d0e7ff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	clear: both;
}

a.btn:hover {
	background-position: 0px -25px;
	color:#6e6e6e;
}

h1 {
	color:#d52833;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:normal;
	margin: 5px 0px 10px 0px;
	letter-spacing: -0.5px;
}

h2 {
	color:#097bbf;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height: 24px;
	font-weight:400;
	text-transform: uppercase;
	margin: 5px 0px 10px 0px;
	letter-spacing: 0.5px;
}

h3 {
	color:#394a58;
	font:Arial, Helvetica, sans-serif;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height: 24px;
	font-weight:bold;
	margin: 5px 0px 10px 0px;
}

h4 {
	color:#394a58;
	font:Arial, Helvetica, sans-serif;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height: 24px;
	font-weight:normal;
	margin: 5px 0px 10px 0px;
}


